.single__testimonial h6 {
  color: #f5b70a;
  font-size: 1.1rem;
}

.single__testimonial p {
  font-size: 0.8rem;
  color: #fff;
}

.slick-prev:before,
.slick-next:before {
  /* display: none !important; */
}

/* font-family: 'slick';
font-size: 20px;
line-height: 1;
opacity: .75;
color: rgb(255 255 255);
-webkit-font-smoothing: antialiased; */

.slick-prev,
.slick-next {
  position: absolute;
  /* top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%); */
  top: 90%;
  width: 100%;
  transform: translate(30%, 50%);
}

@media only screen and (max-width: 992px) {
  .slider__content h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .slider__wrapper {
    flex-direction: column;
  }

  .slider__content {
    width: 90% !important;
  }
}
